.catalog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog > h2 {
    font-size: 36px;
    color: #C9AC9C;
    margin-top: 0;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .catalog > h2 {
        font-size: 56px;
    }
}

.catalog__container {
    display: flex;
    flex: 1 1 0px;
    padding: 20px 20px 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalog__item {
    width: 25%;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
}

.catalog__item__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
}

.catalog__item__title {
    position: absolute;
    bottom: 0;
    height: 55px;
    background: rgba(27, 27, 27, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 5px;
}