@font-face {
    font-family: 'Giovanna';
    src: url('../fonts/giovanna-webfont.woff2') format('woff2'),
    url('../fonts/Giovanna.ttf') format('truetype'),
    url('../fonts/Giovanna.otf') format('opentype'),
    url('../fonts/giovanna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Encode Sans Expanded Medium';
    src: url('../fonts/encodesansexpanded-medium-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSansExpanded-Medium.ttf') format('truetype'),
    url('../fonts/encodesansexpanded-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Encode Sans Expanded Regular';
    src: url('../fonts/encodesansexpanded-regular-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSansExpanded-Regular.ttf') format('truetype'),
    url('../fonts/encodesansexpanded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Encode Sans Expanded SemiBold';
    src: url('../fonts/encodesansexpanded-semibold-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSansExpanded-SemiBold.ttf') format('truetype'),
    url('../fonts/encodesansexpanded-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3 {
    font-family: 'Giovanna', serif;
}

p, a {
    font-family: 'Encode Sans Expanded Regular', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font: 14px "Encode Sans Expanded Regular", Helvetica, Arial, sans-serif;
}