html, body {
    background: #171717;
    position: relative;
    overflow-x: hidden;
}

html {
    height: 100vh;
    min-height: 100vh;
}

body {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 100px max-content 100px;
    background-image: url('../images/cartographer.png');
}

@media (min-width: 1920px) and (orientation: landscape) {
    body {
        grid-template-rows: 200px max-content 200px;
    }
}


main {
    position: relative;
}

h1 {
    color: #C9AC9C;
    font-size: 42px;
}

h3 {
    color: #C9AC9C;
    font-size: 24px;
    margin: 12px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    h3 {
        font-size: 28px;
        margin: 22px;
    }
}

p {
    color: #C9AC9C;
    font-size: 16px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    p {
        color: #C9AC9C;
        font-size: 18px;
    }
}

/* Nav */


header {
    padding: 20px 30px;
    display: flex;
    position: relative;
    height: 90px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    header {
        padding: 25px 60px;
        height: 160px;
    }
}


.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10px;
}

.nav > * {
    margin: 0 10px;
}

/* Footer */

footer {
    position: absolute;
    bottom: 30px;
    left: 60px;
    font-size: 18px;
    color: #C9AC9C;
    opacity: 0.8;
}

footer.contact__footer {
    background: #1B1B1B;
    width: 100%;
    height: 70px;
    opacity: 1;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

.contact__footer > * {
    margin-right: 20px;
}

.contact__footer .contact__info p {
    font-family: 'Encode Sans Expanded Medium', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 5px 0;
}

.contact__footer .contact__info p:nth-of-type(2){
    font-family: 'Encode Sans Expanded Medium', sans-serif;
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
}

@media (min-width: 1920px) and (orientation: landscape) {
    footer.contact__footer {
        height: 130px;
        padding: 20px;
    }

    .contact__footer > * {
        margin-right: 40px;
    }

    .contact__footer .contact__info p {
        margin: 15px 0;
        font-size: 20px;
    }

    .contact__footer .contact__info p:nth-of-type(2){
        font-size: 16px;
    }
}

/* Hero classes */

.hero {
    position: relative;
}

.img__container.img__featured {
    position: absolute;
    top: -170px;
    right: -170px;
    opacity: 0.9;
}

.img__featured img {
    width: 600px;
    height: 600px;
}

.img__container.img_alternate {
    opacity: 0.7;
    position: absolute;
    z-index: 11;
    top: 290px;
    right: 30px;
}

.img__container.img_alternate img {
    width: 300px;
    height: 300px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .img__container.img_alternate {
        top: 400px;
        right: 150px;
    }

    .img__container.img_alternate img {
        width: 370px;
        height: 370px;
    }
}

.img__container.img_alternate_2 {
    opacity: 0.4;
    position: absolute;
    top: 100px;
    right: 300px;
    transform: rotate(90deg);
    z-index: 11;

}

.img__container.img_alternate_2 img {
    width: 250px;
    height: 250px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .img__container.img_alternate_2 img {
        width: 400px;
        height: 400px;
    }
}

.img__container.img_alternate_3 {
    opacity: 0.6;
    position: absolute;
    top: 250px;
    right: 300px;
    transform: rotate(35deg);
    z-index: 11;
}

.img__container.img_alternate_3 img {
    width: 320px;
    height: 320px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .img__container.img_alternate_3 {
        top: 350px;
        right: 470px;
    }

    .img__container.img_alternate_3 img {
        width: 420px;
        height: 420px;
    }
}

.bg_image {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
}


.hero__message {
    color: #C9AC9C;
    padding-left: 100px;
    margin-top: 100px;
}

.hero__message p {
    width: 500px;
    font-size: 18px;
    line-height: 140%;
}

.hero__message p:nth-of-type(2) {
    opacity: 0.7;
    font-size: 16px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .hero__message {
        margin-top: 150px;
    }

    .hero__message p {
        width: 700px;
        font-size: 24px;
    }

    .hero__message p:nth-of-type(2) {
        opacity: 0.7;
        font-size: 22px;
    }
}

.link {
    margin-top: 30px;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: #C9AC9C;
    border-bottom: 2px solid #C9AC9C;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .link a {
        font-size: 22px;
    }
}

a.link {
    text-decoration: none;
    color: #C9AC9C;
    border-bottom: 2px solid #C9AC9C;
}

.title {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.error_message {
    color: red;
}

.success_message {
    color: #8F845B;
}

.greeting {
    opacity: 1;
    font-size: 24px;
    position: absolute;
    right: 50px;
    bottom: 40px;
}

.greeting p {
    font-family: 'Encode Sans Expanded Medium', sans-serif;
    margin: 10px;
    padding: 0;
}

/*Featured */

.featured {
    margin-top: 50vh;
}

.featured__title {
    font-size: 32px;
    color: #C9AC9C;
    text-align: center;
}

.featured__container {
    display: flex;
    flex: 1 1 0px;
    padding: 20px 20px 40px;
}

.featured__item {
    width: 25%;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.featured__item:last-of-type {
    margin-right: 0;
}

.featured__item__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
}

.featured__item__title {
    position: absolute;
    bottom: 0;
    height: 45px;
    background: rgba(27, 27, 27, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 5px;
}

.arrow_down {
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: -150px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .arrow_down {
        font-size: 100px;
        bottom: -180px;
    }
}

/* Helper classes */

.h__underline {
    border-bottom: 2px solid #C9AC9C;
}

.h__center_text {
    text-align: center;
}