/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
}

.product_layout {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product__title {
    font-size: 36px;
    color: #C9AC9C;
    padding: 0 50px;
    text-align: center;
}

.product__image {
    width: 450px;
    height: 450px;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .product__image {
        width: 650px;
        height: 650px;
    }
}

.product__description {
    padding: 0 100px;
    line-height: 130%;
}

@media (min-width: 1920px) and (orientation: landscape) {
    .product__description {
        font-size: 22px;
    }
}

.product__price {
    font-size: 30px;
    padding: 0 100px;
}

.icon-bar {
    right: 15px;
}